.tent-sites h2 {
    font-family: 'Kaushan Script', cursive;
}
.tent-sites p {
    width: 95%;
    margin: 35px auto;
    font-size: 18px;
    line-height: 33px;
}
.tent-box {
    background: rgba(15, 53, 87, 0.89);
    padding: 36px 0;
}
.tent-sites {
    padding: 66px 21%;
}
button.btn.btn-light {
    font-size: 24px;
    padding: 8px 44px;
    color: white;
    border-radius: 32px;
    background: transparent;
}
button.btn.btn-light:hover {
    color: black;
    background: white;
    transition: all 0.4s;
}