.carousel-item img {
    height: 900px;
}
@media only screen and (min-width:320px) and (max-width:767px){
    .carousel-item img {
        height: auto;
    }
    .carousel-caption {
        margin-bottom: 0!important;
    }
    .intro-para {
        width: 90%!important;
    }
    .tent-sites {
        padding: 21px 5%!important;
    }
    .card-title.h5{
        font-size: 4.5vw!important;
    }
}

.carousel-caption {
    background: #0000007a;
    margin-bottom: 18%;
}