h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 8vw;
  margin-bottom: 34px;
}
.navbar-nav a.nav-link, button {
  font-family: 'Kaushan Script', cursive!important;
}
body{
  font-family: 'Heebo', sans-serif;
}
